//背景
body .bg {
    background: url("../img/bg.png") no-repeat ;
    background-size: 100%;
}
//手機下載
body aside .download i {
    background: url("../img/downloadIc.png") no-repeat center;
    background-size: contain;
} 
//service
body aside .service li i {
    background: url("../img/serviceIc.png") no-repeat;
    background-size: 500%;
} 
header .navGroup .logo {
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
}
.home .swiperGroup .frontPicL {
    background: url("../img/bannerFrontL.png") no-repeat center;
    background-size: contain;
}
.home .swiperGroup .frontPicR {
    background: url("../img/bannerFrontR.png") no-repeat center;
    background-size: contain;
}
.home .marqueeGroup .decorationL {
    background: url("../img/decorationL.png") no-repeat center;
    background-size: contain;
}
.home .marqueeGroup .decorationR {
    background: url("../img/decorationR.png") no-repeat center;
    background-size: contain;
}
.home .marqueeGroup i {
    background: url("../img/marqueeIc.png") no-repeat center;
    background-size: contain;
}
.innerPage .marqueeGroup .decorationL {
    background: url("../img/decorationL.png") no-repeat center;
    background-size: contain;
}
.innerPage .marqueeGroup .decorationR {
    background: url("../img/decorationR.png") no-repeat center;
    background-size: contain;
}
.innerPage .marqueeGroup i {
    background: url("../img/marqueeIc.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup ul li .picGroup {
    background: url("../img/aaBg.png") no-repeat center;
    background-size: contain;
}
.innerPage .center > div.midSide.vip .midBottom .content .vipCardList ul ol li {
    background: url(../img/vipLevel_01.png) no-repeat;
    background-size: 100%;
}

